streamlit
PyMuPDF
easyocr
numpy
requests
pandas
python-docx
pillow
scikit-learn
google-generativeai
regex
bcrypt
speechrecognition
gtts
pydub
python-dateutil
fuzzywuzzy
python-Levenshtein